body {
    padding: 20px;
}
.modal-header {
    display: flex;
    justify-content: space-between;
}
.table-responsive {
    overflow-x: auto;
}
.modal .form-label {
    font-weight: bold;
}

input[type="text"],
input[type="number"],
select {
    width: 100%;
    padding: 8px;
    font-size: 1rem;
    border: 1px solid #ced4da;
    border-radius: 4px;
    margin-bottom: 15px;
}
